<div ng-controller="menuController">
	<div class="btn-group dropdown">
		<div class="panel-body">
			<div class="btn-group-vertical">
				 <button type="button" style="width:120px; margin-top: 2px;" class="btn btn-info" ng-click="viewFormateador()">
	  					   {{botonTexto.formateador}}
				 </button>
				 <button type="button" style="width:120px; margin-top: 2px;" class="btn btn-info" ng-click="viewCola()">
						  {{botonTexto.cola}}
				</button>
				 <button type="button" style="width:120px; margin-top: 2px;" class="btn btn-info" ng-click="viewDriver()">
						  {{botonTexto.driver}}
				</button>
				 <button type="button" style="width:120px; margin-top: 2px;" class="btn btn-info" ng-click="viewBalanceador()">
						  {{botonTexto.balanceador}}
				</button>
				 <button type="button" style="width:120px; margin-top: 2px;" class="btn btn-info" ng-click="viewRouter()">
						  {{botonTexto.router}}
				</button>
				 <button type="button" style="width:120px; margin-top: 2px;" class="btn btn-info" ng-click="viewServicio()">
						  {{botonTexto.servicio}}
				</button>
				 <button type="button" style="width:120px; margin-top: 2px;" class="btn btn-info" ng-click="viewNodo()">
						  {{botonTexto.nodo}}
				</button>
				 <button type="button" style="width:120px; margin-top: 2px;" class="btn btn-info" ng-click="viewPerfil()">
						  {{botonTexto.perfil}}
				</button>
				 <button type="button" style="width:120px; margin-top: 2px;" class="btn btn-info" ng-click="viewSixadcCliente()">
						  {{botonTexto.sixadcClient}}
				</button>
				<button type="button" style="width:120px; margin-top: 2px;" class="btn btn-danger" ng-click="viewSalir()">
	  					   {{botonTexto.salir}}
				 </button>
			</div>
		</div>
	</div>
</div>