<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sacooliveros.gepsac.dao.mybatis.mapper.AlumnoMapper" >
    
    <resultMap id="recordResultMap" type="com.sacooliveros.gepsac.model.experto.Alumno" >
        <id column="cod_plan" property="codigo" jdbcType="VARCHAR" />
        <result column="anio" property="anio" jdbcType="VARCHAR" />
        <result column="fec_registro" property="fecRegistro" jdbcType="DATE" />
        <result column="fec_inicio" property="fecInicio" jdbcType="DATE" />
        <result column="fec_fin" property="fecFin" jdbcType="DATE" />
        <result column="cod_estado" property="estado.codigo" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="recordCodificacionAlumnoMap" type="com.sacooliveros.gepsac.model.experto.Alumno" >
    </resultMap>
      
    <select id="query" resultMap="recordResultMap">
        SELECT
            cod_alumno,
            genero,
            edad,
            contextura,
            altura,
            tipo_familia,
            orden_nacimiento,
            num_hnos,
            nivel_escolar,
            grado_escolar,
            promedio_escolar,
            nro_cambio_colegio,
            religion,
            nacionalidad,
            distrito,
            provincia,
            departamento,
            cod_perfil 
        FROM 
            tp_alumno_evaluado
    </select>
  
    <select id="get" resultMap="recordResultMap">
        Select 
            cod_alumno,
            genero,
            edad,
            contextura,
            altura,
            tipo_familia,
            orden_nacimiento,
            num_hnos,
            nivel_escolar,
            grado_escolar,
            promedio_escolar,
            nro_cambio_colegio,
            religion,
            nacionalidad,
            distrito,
            provincia,
            departamento,
            cod_perfil 
        from 
            tp_alumno_evaluado 
        where
            cod_alumno=#{codigo}
    </select>
  
    <select id="getPostulante" resultMap="recordCodificacionAlumnoMap">
        Select 
            cod_alumno,
            nombres,
            apellido_pat,
            apellido_mat,
            sexo as "sexo.codigo",
            edad,
            cod_contextura as "contextura.codigo",
            cod_estatura as "estatura.codigo",
            cod_familia as "tipoFamilia.codigo",
            orden_nacimiento,
            cant_hnos,
            nivel_escolar as "nivelEscolar",
            grado_escolar,
            promedio_escolar,
            cant_cambio_colegio,
            cod_religion as "religion.codigo",
            cod_nacionalidad as "nacionalidad.codigo",
            cod_distrito as "distrito.codigo",
            cod_provincia as "provincia.codigo",
            cod_departamento as "departamento.codigo"
        from 
            tp_alumno_postulante 
        where
            cod_alumno=#{codigo}
    </select>
    
    <select id="cargarCodificacionAlumno" resultMap="recordCodificacionAlumnoMap">
        Select 
            #{codigo} as codigo,
            (select valor from tp_config where parametro = ('service.sexo.' || #{sexo.nombre})) as "sexo.codigo",
            #{sexo.nombre} as "sexo.nombre",
            (select cod_contextura from tp_contextura where nom_contextura = #{contextura.nombre}) as "contextura.codigo",
            #{contextura.nombre} as "contextura.nombre",
            (select cod_estatura from tp_estatura where nom_estatura = #{estatura.nombre}) as "estatura.codigo",
            #{estatura.nombre} as "estatura.nombre",
            (select cod_familia from tp_tipo_familia where nom_familia = #{tipoFamilia.nombre}) as "tipoFamilia.codigo",
            #{tipoFamilia.nombre} as "tipoFamilia.nombre",
            (select cod_religion from tp_religion where nom_religion = #{religion.nombre}) as "religion.codigo",
            #{religion.nombre} as "religion.nombre",
            (select valor from tp_config where parametro = ('service.nivelEscolar.' || #{nivelEscolar.nombre})) as "nivelEscolar.codigo",
            #{nivelEscolar.nombre} as "nivelEscolar.nombre",
            (select cod_distrito from tp_distrito where nom_distrito = #{distrito.nombre}) as "distrito.codigo",
            #{distrito.nombre} as "distrito.nombre",
            (select cod_departamento from tp_departamento where nom_departamento = #{departamento.nombre}) as "departamento.codigo",
            #{departamento.nombre} as "departamento.nombre",
            (select cod_provincia from tp_provincia where nom_provincia = #{provincia.nombre}) as "provincia.codigo",
            #{provincia.nombre} as "provincia.nombre",
            (select cod_nacionalidad from tp_nacionalidad where nom_nacionalidad = #{nacionalidad.nombre}) as "nacionalidad.codigo",
            #{nacionalidad.nombre} as "nacionalidad.nombre";
    </select>
    
    <insert id="insertPostulante">
        Insert into tp_alumno_postulante 
            (cod_alumno,nombres,apellido_pat,apellido_mat,sexo,edad,cod_contextura,cod_estatura,cod_familia,orden_nacimiento,
            cant_hnos,nivel_escolar,grado_escolar,promedio_escolar,cant_cambio_colegio,cod_religion,cod_nacionalidad,cod_distrito,
            cod_provincia,cod_departamento)
        values
            (#{codigo},#{nombres},#{apellidoPaterno},#{apellidoMaterno},#{sexo.codigo},#{edad},#{contextura.codigo},#{estatura.codigo},#{tipoFamilia.codigo},#{ordenNacimiento},
            #{cantHnos},#{nivelEscolar.codigo},#{gradoEscolar},#{promedioEscolar},#{cantCambioColegio},#{religion.codigo},#{nacionalidad.codigo},#{distrito.codigo},
            #{provincia.codigo},#{departamento.codigo})
    </insert> 
  
    <update id="updatePostulante">
        Update 
            tp_alumno_postulante 
        Set
            nombres = #{nombres},
            apellido_pat = #{apellidoPaterno},
            apellido_mat = #{apellidoMaterno},
            sexo = #{sexo.codigo},
            edad = #{edad},
            cod_contextura = #{contextura.codigo},
            cod_estatura = #{estatura.codigo},
            cod_familia = #{tipoFamilia.codigo},
            orden_nacimiento = #{ordenNacimiento},
            cant_hnos = #{cantHnos},
            nivel_escolar = #{nivelEscolar.codigo},
            grado_escolar = #{gradoEscolar},
            promedio_escolar = #{promedioEscolar},
            cant_cambio_colegio = #{cantCambioColegio},
            cod_religion = #{religion.codigo},
            cod_nacionalidad = #{nacionalidad.codigo},
            cod_distrito = #{distrito.codigo},
            cod_provincia = #{provincia.codigo},
            cod_departamento = #{departamento.codigo}
        Where
            cod_alumno=#{codigo}
    </update> 
    
</mapper>