<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sacooliveros.gepsac.dao.mybatis.mapper.PlanMapper" >
  <!--
  <resultMap id="BaseResultMap" type="com.sacooliveros.gepsac.model.Estrategia" >
    <id column="idUsuario" property="idUsuario" jdbcType="INTEGER" />
    <result column="usuario" property="usuario" jdbcType="VARCHAR" />
    <result column="premium" property="premium" jdbcType="VARCHAR" />
    <result column="ocupacion" property="ocupacion" jdbcType="VARCHAR" />
    <result column="cinefavorito" property="cinefavorito" jdbcType="VARCHAR" />
    <result column="precio" property="precio" jdbcType="DECIMAL" />
    <result column="generofavorito" property="generofavorito" jdbcType="VARCHAR" />
  </resultMap>
  -->
    <resultMap id="recordResultMap" type="com.sacooliveros.gepsac.model.Plan" >
        <id column="cod_plan" property="codigo" jdbcType="VARCHAR" />
        <result column="anio" property="anio" jdbcType="VARCHAR" />
        <result column="fec_registro" property="fecRegistro" jdbcType="DATE" />
        <result column="fec_inicio" property="fecInicio" jdbcType="DATE" />
        <result column="fec_fin" property="fecFin" jdbcType="DATE" />
        <result column="cod_estado" property="estado.codigo" jdbcType="VARCHAR" />
    </resultMap>
  
    <select id="query" resultMap="recordResultMap">
        SELECT
        cod_plan,
        anio,
        fec_registro,
        fec_inicio,
        fec_fin,
        cod_estado
        FROM 
        tp_plan
    </select>
  
    <select id="obtenerVigente" parameterType="int" resultMap="recordResultMap">
        SELECT
        cod_plan,
        anio,
        fec_registro,
        fec_inicio,
        fec_fin,
        cod_estado
        FROM 
        tp_plan
        where
        anio = #{anio}
    </select>
  
    <select id="get" resultMap="recordResultMap">
        SELECT
        cod_plan,
        anio,
        fec_registro,
        fec_inicio,
        fec_fin,
        cod_estado
        FROM 
        tp_plan
        where
        cod_plan = #{codigo}
    </select>
  
    <update id="update">
        Update tp_plan set 
            fec_registro = #{fecRegistro}, fec_programacion = #{fecProgramacion}, fec_configuracion = #{fecConfiguracion}, 
            fec_inicio = #{fecInicio}, fec_fin = #{fecFin}, cod_estado = #{estado.codigo}
        where anio = #{anio} and cod_plan = #{codigo}
    </update>
  
    <insert id="insertEstrategia">
        Insert into tp_plan_estrategia (cod_plan, cod_estrategia) 
        Values (#{codigoPlan}, #{codigo})
    </insert>
    
    <insert id="insertActividad">
        Insert into tp_plan_actividad (cod_plan, cod_estrategia, cod_actividad, cod_estado) 
        Values (#{codigoPlan}, #{codigoEstrategia}, #{actividad.codigo}, #{estado.codigo})
    </insert>
  
    <delete id="deleteEstrategia">
        Delete from tp_plan_estrategia
        where cod_plan= #{codigoPlan}
    </delete>
    
    <delete id="deleteActividad">
        Delete from tp_plan_actividad
        where cod_plan= #{codigoPlan}
    </delete>
</mapper>