<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sacooliveros.gepsac.dao.mybatis.mapper.AlumnoMapper" >
  <!--
  <resultMap id="BaseResultMap" type="com.sacooliveros.gepsac.model.Estrategia" >
    <id column="idUsuario" property="idUsuario" jdbcType="INTEGER" />
    <result column="usuario" property="usuario" jdbcType="VARCHAR" />
    <result column="premium" property="premium" jdbcType="VARCHAR" />
    <result column="ocupacion" property="ocupacion" jdbcType="VARCHAR" />
    <result column="cinefavorito" property="cinefavorito" jdbcType="VARCHAR" />
    <result column="precio" property="precio" jdbcType="DECIMAL" />
    <result column="generofavorito" property="generofavorito" jdbcType="VARCHAR" />
  </resultMap>
  -->
    <resultMap id="recordResultMap" type="com.sacooliveros.gepsac.model.experto.Alumno" >
        <id column="cod_plan" property="codigo" jdbcType="VARCHAR" />
        <result column="anio" property="anio" jdbcType="VARCHAR" />
        <result column="fec_registro" property="fecRegistro" jdbcType="DATE" />
        <result column="fec_inicio" property="fecInicio" jdbcType="DATE" />
        <result column="fec_fin" property="fecFin" jdbcType="DATE" />
        <result column="cod_estado" property="estado.codigo" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="recordCodificacionAlumnoMap" type="com.sacooliveros.gepsac.model.experto.Alumno" >
    </resultMap>
      
    <select id="query" resultMap="recordResultMap">
        SELECT
            cod_alumno,
            genero,
            edad,
            contextura,
            altura,
            tipo_familia,
            orden_nacimiento,
            num_hnos,
            nivel_escolar,
            grado_escolar,
            promedio_escolar,
            nro_cambio_colegio,
            religion,
            nacionalidad,
            distrito,
            provincia,
            departamento,
            cod_perfil 
        FROM 
            tp_alumno_evaluado
    </select>
  
    <select id="get" resultMap="recordResultMap">
        Select 
            cod_alumno,
            genero,
            edad,
            contextura,
            altura,
            tipo_familia,
            orden_nacimiento,
            num_hnos,
            nivel_escolar,
            grado_escolar,
            promedio_escolar,
            nro_cambio_colegio,
            religion,
            nacionalidad,
            distrito,
            provincia,
            departamento,
            cod_perfil 
        from 
            tp_alumno_evaluado 
        where
            cod_alumno=#{codigo}
    </select>
  
    <select id="getPostulante" resultMap="recordResultMap">
        Select 
            cod_alumno,
            nombres,
            apellido_pat,
            apellido_mat,
            genero,
            edad,
            contextura,
            altura,
            tipo_familia,
            orden_nacimiento,
            num_hnos,
            nivel_escolar,
            grado_escolar,
            promedio_escolar,
            nro_cambio_colegio,
            religion,
            nacionalidad,
            distrito,
            provincia,
            departamento
        from 
            tp_alumno_postulante 
        where
            cod_alumno=#{codigo}
    </select>
    
    <select id="cargarCodificacionAlumno" resultMap="recordCodificacionAlumnoMap">
        Select 
            #{codigo} as codigo,
            (select cod_contextura from tp_contextura where nom_contextura = #{contextura.nombre}) as "contextura.codigo",
            #{contextura.nombre} as "contextura.nombre",
            (select cod_estatura from tp_estatura where nom_estatura = #{estatura.nombre}) as "estatura.codigo",
            #{estatura.nombre} as "estatura.nombre",
            (select cod_familia from tp_tipo_familia where nom_familia = #{tipoFamilia.nombre}) as "tipoFamilia.codigo",
            #{tipoFamilia.nombre} as "tipoFamilia.nombre",
            (select cod_religion from tp_religion where nom_religion = #{religion.nombre}) as "religion.codigo",
            #{religion.nombre} as "religion.nombre",
            (select cod_distrito from tp_distrito where nom_distrito = #{distrito.nombre}) as "distrito.codigo",
            #{distrito.nombre} as "distrito.nombre",
            (select cod_departamento from tp_departamento where nom_departamento = #{departamento.nombre}) as "departamento.codigo",
            #{departamento.nombre} as "departamento.nombre",
            (select cod_provincia from tp_provincia where nom_provincia = #{provincia.nombre}) as "provincia.codigo",
            #{provincia.nombre} as "provincia.nombre";
    </select>
    
    <insert id="insertPostulante">
        Insert into tp_alumno_postulante 
            (cod_alumno,nombres,apellido_pat,apellido_mat,genero,edad,contextura,altura,tipo_familia,orden_nacimiento,
            num_hnos,nivel_escolar,grado_escolar,promedio_escolar,nro_cambio_colegio,
            religion,nacionalidad,distrito,provincia,departamento)
        values
            (#{codigo},#{nombres},#{apellidoPaterno},#{apellidoMaterno},#{genero},#{edad},#{contextura},#{altura},#{tipoFamilia},#{ordenNacimiento},
            #{numHnos},#{nivelEscolar},#{gradoEscolar},#{promedioEscolar},#{nroCambioColegio},
            #{religion},#{nacionalidad},#{distrito},#{provincia},#{departamento})
    </insert> 
  
    <update id="updatePostulante">
        Update 
            tp_alumno_postulante 
        Set
            nombres = #{nombres},
            apellido_pat = #{apellidoPaterno},
            apellido_mat = #{apellidoMaterno},
            genero = #{genero},
            edad = #{edad},
            contextura = #{contextura},
            altura = #{altura},
            tipo_familia = #{tipoFamilia},
            orden_nacimiento = #{ordenNacimiento},
            num_hnos = #{numHnos},
            nivel_escolar = #{nivelEscolar},
            grado_escolar = #{gradoEscolar},
            promedio_escolar = #{promedioEscolar},
            nro_cambio_colegio = #{nroCambioColegio},
            religion = #{religion},
            nacionalidad = #{nacionalidad},
            distrito = #{distrito},
            provincia = #{provincia},
            departamento = #{departamento}
        Where
            cod_alumno=#{codigo}
    </update> 
    
</mapper>