<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sacooliveros.gepsac.dao.mybatis.mapper.ConfigMapper" >
    
       
    <select id="get" resultType="string">
        SELECT
            a.valor
        FROM 
            tp_config a
        Where
            a.parametro = #{parametro}
    </select>
  
  
</mapper>