<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sacooliveros.gepsac.dao.mybatis.mapper.SolicitudPsicologicaMapper" >
    
    <resultMap id="recordSolicitudPsicologica" type="com.sacooliveros.gepsac.model.evaluacion.SolicitudPsicologica" >
        <id column="cod_solicitud" property="codigo" jdbcType="VARCHAR" />
        <result column="fec_solicitud" property="fechaSolicitud" jdbcType="DATE" />
        <result column="fec_atencion" property="fechaAtencion" jdbcType="DATE" />        
        <result column="cod_usuario" property="solicitante.codigo" jdbcType="VARCHAR" />
        <result column="nombres" property="solicitante.nombres" jdbcType="VARCHAR" />
        <result column="apellidos" property="solicitante.apellidos" jdbcType="VARCHAR" />
        <result column="motivo" property="motivo" jdbcType="VARCHAR" />
        <result column="descripcion" property="descripcion" jdbcType="VARCHAR" />
        <result column="cod_estado" property="estado.codigo" jdbcType="VARCHAR" />
        <result column="nom_estado" property="estado.nombre" jdbcType="VARCHAR" />
        <result column="usu_crea" property="usuCre" jdbcType="VARCHAR" />
        <result column="fec_crea" property="fecCre" jdbcType="DATE" />
        <result column="usu_modif" property="usuMod" jdbcType="VARCHAR" />
        <result column="fec_modif" property="fecMod" jdbcType="DATE" />
    </resultMap>
       
    <select id="query" resultMap="recordSolicitudPsicologica">
        SELECT
            a.cod_solicitud,
            b.cod_usuario,
            b.nombres,
            b.apellidos,
            a.motivo,
            a.fec_solicitud,
            a.fec_atencion,
            a.cod_estado,
            c.nom_estado
        FROM 
            tp_solicitud_psicologica a
        INNER JOIN
            tp_usuario b on a.solicitante = b.cod_usuario
        INNER JOIN
            tp_estado c ON a.cod_estado = c.cod_estado
    </select>
  
    <select id="get" resultMap="recordSolicitudPsicologica">
        SELECT
            a.cod_solicitud,
            a.fec_solicitud,
            a.fec_atencion,
            b.cod_usuario,
            b.nombres,
            b.apellidos,
            a.motivo,
            a.descripcion,
            a.cod_estado,
            c.nom_estado
        FROM 
            tp_solicitud_psicologica a
        INNER JOIN
            tp_usuario b on a.solicitante = b.cod_usuario
        INNER JOIN
            tp_estado c ON a.cod_estado = c.cod_estado
      <!--  where
            cod_solicitud=#{codigo}
        and
            solicitante=#{solicitante}
        and
            motivo=#{motivo}
        and
            (fec_solicitud between #{fechaInicio} and #{fechaFin}
        and 
            cod_estado=#{estado} -->
        
    </select>
    
    <insert id="insert">
        Insert into tp_solicitud_psicologica 
            (cod_solicitud, fec_solicitud, fec_atencion, solicitante, motivo, 
            descripcion,  cod_estado)
        values
            (#{codigo}, #{fechaSolicitud}, #{fechaAtencion}, #{solicitante.codigo}, #{motivo}, 
            #{descripcion}, #{estado.codigo})
    </insert>
    
    <insert id="insertAlumnos">
        Insert into tp_solicitud_alumno 
            (cod_solicitud, cod_alumno, dirigido)
        values
            (#{codigoSolicitud}, #{alumno.codigo}, #{dirigido})
    </insert>
  
  
    <update id="update">
        Update 
            tp_solicitud_psicologica 
        Set
            fec_evaluacion = #{fechaEvaluacion},
            motivo = #{motivo}, 
            descripcion = #{descripcion}, 
            usu_modif = #{usuMod},
            fec_modif = #{fecMod}
        Where
            cod_solicitud=#{codigo}
    </update> 
    
    <delete id="delete">
        Delete from 
                    tp_solicitud_psicologica
        Where
                    cod_solicitud=#{codigo}
    </delete>
    
    
    
</mapper>