<div class="container" style="width: 100%">
	<div>
		<form class="form-group" name="formulario">

			<div class="panel panel-primary" style="width: 1000px">

				<div class="panel-heading">
					<div class="row" >
						<div class="col-md-8">
				    		<h3 class="panel-title">{{driverTexto.titulo | uppercase}}</h3>
				    	</div>
				    	<div class="col-md-4"></div>
				    </div>
				</div>

				<div class="panel-body">
				
					<div class="row">
						
						<div class="col-md-3">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.driverId.$error.required">*</span>
							<label>{{driverTexto.driverId}}</label> 
							<input type="text" 
									class="form-control input-sm"
									style="width: 150px" 
									name="driverId" 
								 	ng-model="selectDriver.driverId" 
								 	placeholder="Codigo ..."
								 	allow-pattern="(\d|[a-z])"
									my-maxlength="15"
								 	required/> 
						</div>
						<div class="col-md-3">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.adminQueueId.$error.required">*</span>
							<label>{{driverTexto.adminQueueId}}</label> 
							<select class="form-control input-sm" 
									style="width: 150px" 
									name="adminQueueId" 			
									ng-model="selectDriver.adminQueueId" 
									required>
							    <option ng-repeat="myQueue in listAdminQueue" 
							    		value="{{myQueue.adminQueueId}}">
							    	{{myQueue.adminQueueId}}
							    </option>
				            </select>
						</div>
						<div class="col-md-3">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.type.$error.required">*</span>
							<label>{{driverTexto.type}}</label>
							<select class="form-control input-sm" 
									style="width: 150px" 
									name="type" 
									ng-model="selectDriver.type" 
									required>
							    <option ng-repeat="myStatus in statusType" 
							    		value="{{myStatus.type}}">
							    	{{myStatus.type}}
							    </option>
				            </select>
						</div>
						<div class="col-md-3"></div>

						<div class="col-md-3">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.timeOutConnect.$error.required">*</span>
							<label>{{driverTexto.timeOutConnect}}</label>
							<input type="text" 
									class="form-control input-sm"
									style="width: 150px" 
									name="timeOutConnect" 
								 	ng-model="selectDriver.timeOutConnect" 
								 	allow-pattern="\d"
									my-maxlength="3"
								 	required/> 
						</div>
						<div class="col-md-3">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.timeOutRead.$error.required">*</span>
							<label>{{driverTexto.timeOutRead}}</label>
							<input type="text" 
									class="form-control input-sm"
									style="width: 150px" 
									name="timeOutRead" 
								 	ng-model="selectDriver.timeOutRead" 
								 	allow-pattern="\d"
									my-maxlength="3"
								 	required/> 
						</div>
						<div class="col-md-3">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.retries.$error.required">*</span>
							<label>{{driverTexto.retries}}</label>
							<input type="text" 
									class="form-control input-sm"
									style="width: 150px" 
									name="retries" 
								 	ng-model="selectDriver.retries" 
								 	allow-pattern="\d"
									my-maxlength="3"
									required/> 
						</div>
						<div class="col-md-3">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.timeOutQueueRead.$error.required">*</span>
							<label>{{driverTexto.timeOutQueueRead}}</label>
							<input type="text" 
									class="form-control input-sm"
									style="width: 150px" 
									name="timeOutQueueRead" 
								 	ng-model="selectDriver.timeOutQueueRead" 
								 	allow-pattern="\d"
									my-maxlength="3"
									required/> 
						</div>


						<div class="col-md-6">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.name.$error.required">*</span>
							<label>{{driverTexto.name}}</label>
							<input type="text" 
									class="form-control input-sm"
									style="width: 350px" 
									name="name" 
								 	ng-model="selectDriver.name" 
								 	allow-pattern="(\s|\d|[a-z])"
									my-maxlength="40"
								 	required/> 
						</div>
						<div class="col-md-3">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.port.$error.required">*</span>
							<label>{{driverTexto.port}}</label>
							<input type="text" 
									class="form-control input-sm"
									style="width: 150px" 
									name="port" 
								 	ng-model="selectDriver.port" 
								 	allow-pattern="\d"
									my-maxlength="5"
								 	required/> 
						</div>
						<div class="col-md-3">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.maxConcurrentConnections.$error.required">*</span>
							<label>{{driverTexto.maxConcurrentConnections}}</label>
							<input type="text" 
									class="form-control input-sm"
									style="width: 150px" 
									name="maxConcurrentConnections" 
								 	ng-model="selectDriver.maxConcurrentConnections" 
								 	allow-pattern="\d"
									my-maxlength="3"
								 	required/> 
						</div>

						<div class="col-md-3">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.forwardProcess.$error.required">*</span>
							<label>{{driverTexto.forwardProcess}}</label>
							<input type="text" 
									class="form-control input-sm"
									style="width: 180px" 
									name="forwardProcess" 
								 	ng-model="selectDriver.forwardProcess" 
								 	allow-pattern="(\d|[a-z])"
									my-maxlength="16"
								 	required/> 
						</div>
						<div class="col-md-3">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.validaIp.$error.required">*</span>
							<label>{{driverTexto.validaIp}}</label>
							<select class="form-control input-sm" 
									style="width: 150px" 
									name="validaIp" 
									ng-model="selectDriver.validaIp" 
									required>
							    <option ng-repeat="myStatus in statusValidarIp" 
							    		value="{{myStatus.status}}">
							    		{{myStatus.status}}
							    </option>
				            </select>
						</div>
						<div class="col-md-3">
							<span class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.concurrentUserSupport.$error.required">*</span>
							<label>{{driverTexto.concurrentUserSupport}}</label>
							<select class="form-control input-sm" 
									style="width: 150px" 
									name="concurrentUserSupport" 
									ng-model="selectDriver.concurrentUserSupport" 
									required>
							    <option ng-repeat="myStatus in statusPermiso" 
							    		value="{{myStatus.status}}">
							    		{{myStatus.status}}
							    </option>
				            </select>
						</div>
						<div class="col-md-3"></div>
					
						<div class="col-md-12">
							<label>{{driverTexto.inFilters}}</label> 
							<div class="checkbox">
								<label ng-repeat="myInFilter in optionInFilter" 
										ng-model="selectDriver.filters.inFilters.inFilter">
									<input 
										type="checkbox"
									    name="inFilter"
									    value="{{myInFilter}}"
									    ng-checked="selectionInFilter.indexOf(myInFilter) > -1"
									    ng-click="getSelectionInFilter(myInFilter)"> {{myInFilter}}
								</label>	
							</div>
						</div>
						
						<div class="col-md-12">
							<label>{{driverTexto.outFilters}}</label>
							<div class="checkbox">
								<label ng-repeat="myOutFilter in optionOutFilter" 
										ng-model="selectDriver.filters.outFilters.outFilter">
								  	<input
									    type="checkbox"
									    name="outFilter"
									    value="{{myOutFilter}}"
									    ng-checked="selectionOutFilter.indexOf(myOutFilter) > -1"
									    ng-click="getSelectionOutFilter(myOutFilter)"> {{myOutFilter}}
								</label>
							</div>
						</div>
		
						<div class="col-md-12">
							<br />
							<button type="submit" class="btn btn-primary glyphicon glyphicon-file" 
									ng-click="nuevo()">
							</button>
							<button type="submit" 
									class="btn btn-primary glyphicon glyphicon-floppy-disk" 
									ng-click="grabar(selectDriver)"	
									ng-disabled="!formulario.$valid">
							</button>
							<button class="btn btn-primary glyphicon glyphicon-refresh" 
									ng-click="refrescar()">
							</button>
						</div>
					</div>

					<br />
					
					<div class="row" ng-hide="hideAlert">
						<div class="col-md-12">
							<div class="alert alert-{{responseRestTag}}">
							  <strong>Respuesta :</strong> {{responseRest}}
							</div>
						</div>
					</div>

					<div class"table-responsive">
						<table class="table table-striped table-bordered table-hover table-condensed" >
						    <thead>
						     	<tr class="success">
						     		<th align="right" style="width: 30px">Num</th>
							        <th style="width: 120px">{{driverTexto.driverIdTbl}}</th>
							        <th style="width: 150px">{{driverTexto.adminQueueIdTbl}}</th>
							        <th style="width: 100px">{{driverTexto.typeTbl}}</th>
							        <th style="width: 120px">{{driverTexto.nameTbl}}</th>
							        <th style="width: 80px">{{driverTexto.portTbl}}</th>
							        <th style="width: 100px">{{driverTexto.opcionActionTbl}}</th>
						      	</tr>
						    </thead>
						    <tbody>
						      	<tr ng-repeat="valueRow in driverGeneral.drivers">
						      		<td>{{$index + 1}}</td>
							        <td>{{valueRow.driverId}}</td>
							        <td>{{valueRow.adminQueueId}}</td>
							        <td>{{valueRow.type}}</td>
							        <td>{{valueRow.name}}</td>
							        <td>{{valueRow.port}}</td>
							        <td >
							        	<button class="btn btn-success btn-xs glyphicon glyphicon-pencil" 
							        			ng-click="editar(valueRow)"></button>
							        	<button class="btn btn-danger btn-xs glyphicon glyphicon-trash" 
							        			ng-click="quitar(valueRow.driverId)"></button>
							        </td>
						      	</tr>
						    </tbody>
						</table>
					</div>

				</div>
			</div>
		</form>
	</div>
</div>
