<div class="container" style="width: 100%">
	<div>
		<form class="form-group" name="formulario">

			<div class="panel panel-primary" style="width: 1000px">

				<div class="panel-heading">
					<div class="row" >
						<div class="col-md-8">
				    		<h3 class="panel-title">{{routeTexto.titulo | uppercase}}</h3>
				    	</div>
				    	<div class="col-md-4"></div>
				    </div>
				</div>

				<div class="panel-body">

					<div class="row" >
						<div class="col-md-12"> 
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.routeId.$error.required">*</span>
							<label>{{routeTexto.routeId}}</label> 
							<input type="text" 
									class="form-control input-sm"
									style="width: 180px"  
									name="routeId" 
									placeholder="Codigo ..."
									ng-model="selectRoute.routeId" 
									allow-pattern="(\d|[a-z])"
									my-maxlength="16"
									required/>
						</div> 
						<div class="col-md-12"> 
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.routeDesc.$error.required">*</span>
							<label>{{routeTexto.routeDesc}}</label>
							<input type="text" 
									class="form-control input-sm"  
									style="width: 300px" 
									name="routeDesc" 
									ng-model="selectRoute.routeDesc" 
									allow-pattern="(\s|\d|[a-z])"
									my-maxlength="30"
									required/>
						</div>
						<div class="col-md-12"> 
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.balancerId.$error.required">*</span>
			                <label>{{routeTexto.balancerId}}</label>
			                <select class="form-control input-sm" 
			                		style="width: 160px" name="balancerId" 
			                		ng-model="selectRoute.balancerId" 
			                		required>
							    <option ng-repeat="myFormat in listBalancer" 
							    		value="{{myFormat.id}}">
							    		{{myFormat.id}}
							    </option>
				            </select>
						</div>
						<div class="col-md-12"> 
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.status.$error.required">*</span>
							<label>{{routeTexto.status}}</label>
			                <select class="form-control input-sm" 
			                		style="width: 160px" 
			                		name="status" 
			                		ng-model="selectRoute.status" 
			                		required>
							    <option ng-repeat="myStatus in constantStatus" 
							    		value="{{myStatus.status}}">
							    		{{myStatus.status}}
							    </option>
				            </select>
						</div>
						<div class="col-md-12"> 
							<br />
							<button class="btn btn-primary glyphicon glyphicon-file" ng-click="nuevo()">
							</button>
							<button class="btn btn-primary glyphicon glyphicon-floppy-disk" 
									ng-click="grabar(selectRoute)" ng-disabled="!formulario.$valid">
							</button>
							<button class="btn btn-primary glyphicon glyphicon-refresh" ng-click="refrescar()">
							</button>
						</div>
					</div>
			
					<br />

					<div class="row" ng-hide="hideAlert">
						<div class="col-md-12">
							<div class="alert alert-{{responseRestTag}}">
							  <strong>Respuesta :</strong> {{responseRest}}
							</div>
						</div>
					</div>

					<div class"table-responsive">
						<table class="table table-striped table-bordered table-hover table-condensed" >
						    <thead>
						     	<tr class="success">
						     		<th align="right" style="width: 30px">Num</th>
							        <th style="width: 150px">{{routeTexto.routeIdTbl}}</th>
							        <th style="width: 200px">{{routeTexto.routeDescTbl}}</th>
							        <th style="width: 120px">{{routeTexto.balancerIdTbl}}</th>
							        <th style="width: 80px">{{routeTexto.opcionActionTbl}}</th>
						      	</tr>
						    </thead>
						    <tbody>
						      	<tr ng-repeat="valueRow in listRoute">
						      		<td>{{$index + 1}}</td>
							        <td>{{valueRow.routeId}}</td>
							        <td>{{valueRow.routeDesc}}</td>
							        <td>{{valueRow.balancerId}}</td>
							        <td >
							        	<button class="btn btn-success btn-xs glyphicon glyphicon-pencil" 
							        			ng-click="editar(valueRow)"></button>
							        	<button class="btn btn-danger btn-xs glyphicon glyphicon-trash" 
							        			ng-click="quitar(valueRow.routeId)"></button>
							        </td>
						      	</tr>
						    </tbody>
						</table>
					</div>

				</div>

			</div>
		</form>
	</div>
</div>
