<div class="container" style="width: 100%">
	<div>
		<form class="form-group" name="formulario">

			<div class="panel panel-primary" style="width: 1000px">

				<div class="panel-heading">
					<div class="row" >
						<div class="col-md-8">
				    		<h3 class="panel-title">{{formatTexto.titulo | uppercase}}</h3>
				    	</div>
				    	<div class="col-md-4"></div>
				    </div>
				</div>

				<div class="panel-body">
 
 					<div class="row" >
						<div class="col-md-12"> 
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.messageFormatId.$error.required">*</span>
							<label>{{formatTexto.messageFormatId}}</label>
							<input type="text" 
									class="form-control input-sm" 
									style="width: 180px" 
									name="messageFormatId" 
								   	ng-model="selectMessageFormat.messageFormatId" 
								   	placeholder="Codigo ..." 
									allow-pattern="(\d|[a-z])"
									my-maxlength="16"
									required/>
						</div>
					
						<div class="col-md-12"> 
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.messageFormatDesc.$error.required">*</span>
							<label>{{formatTexto.messageFormatDesc}}</label>
							<input type="text" 
									class="form-control input-sm"  
									style="width: 350px" 
									name="messageFormatDesc" 
									ng-model="selectMessageFormat.messageFormatDesc" 
									allow-pattern="(\s|\d|[a-z])"
									my-maxlength="32"
									required/>
						</div> 
							
						<div class="col-md-7">
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.transformerConfigFile.$error.required">*</span>
							<label>{{formatTexto.transformerConfigFile}}</label>
							<input type="text" 
									class="form-control input-sm" 
									style="width: 350px" 
									name="transformerConfigFile" 
									ng-model="selectMessageFormat.transformerConfigFile"
									allow-pattern="(\d|[a-z|.])"
									my-maxlength="32"
									required/> 
						</div>

						<div class="col-md-5">
							<span  class="glyphicon" style="color: red;"	
							ng-show="!formulario.$pristine && 
							formulario.transformerStruct.$error.required">*</span>
							<label>{{formatTexto.transformerStruct}}</label>
							<input type="text" 
									class="form-control input-sm" 
									style="width: 180px" 
									name="transformerStruct" 
									ng-model="selectMessageFormat.transformerStruct" 
									allow-pattern="(\d|[a-z])"
									my-maxlength="16"
									required/>
						</div>

						<div class="col-md-12">
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.routerConfigFile.$error.required">*</span>
							<label>{{formatTexto.routerConfigFile}}</label>
							<input type="text" 
									class="form-control input-sm" 
									style="width: 350px" 
									name="routerConfigFile" 
									ng-model="selectMessageFormat.routerConfigFile" 
									allow-pattern="(\d|[a-z|.])"
									my-maxlength="32"
									required/> 
						</div>

						<div class="col-md-12">
							<br/>
							<button class="btn btn-primary glyphicon glyphicon-file" 
									ng-click="nuevo()">
							</button>
							<button class="btn btn-primary glyphicon glyphicon-floppy-disk" 
									ng-click="grabar(selectMessageFormat)" 
									ng-disabled="!formulario.$valid">
							</button>
							<button class="btn btn-primary glyphicon glyphicon-refresh" 
									ng-click="refrescar()">
							</button>

						</div>
					</div>

					<br/>
				
					<div class="row" ng-hide="hideAlert">
						<div class="col-md-12">
							<div class="alert alert-{{responseRestTag}}">
							  <strong>Respuesta :</strong> {{responseRest}}
							</div>
						</div>
					</div>

					<div class"table-responsive">
						<table class="table table-striped table-bordered table-hover table-condensed" >
						    <thead>
						     	<tr class="success">
						     		<th align="right" style="width: 30px">Num</th>
							        <th style="width: 100px">{{formatTexto.messageFormatIdTbl}}</th>
							        <th style="width: 250px">{{formatTexto.messageFormatDescTbl}}</th>
							        <th style="width: 220px">{{formatTexto.transformerConfigFileTbl}}</th>
							        <th style="width: 90px">{{formatTexto.opcionActionTbl}}</th>
						      	</tr>
						    </thead>
						    <tbody>
						      	<tr ng-repeat="valueRow in listMessageFormat">
						      		<td>{{$index + 1}}</td>
							        <td>{{valueRow.messageFormatId}}</td>
							        <td>{{valueRow.messageFormatDesc}}</td>
							        <td>{{valueRow.routerConfigFile}}</td>
							        <td >
							        	<button class="btn btn-success btn-xs glyphicon glyphicon-pencil" 
							        			ng-click="editar(valueRow)"></button>
							        	<button class="btn btn-danger btn-xs glyphicon glyphicon-trash" 
							        			ng-click="quitar(valueRow.messageFormatId)"></button>
							        </td>
						      	</tr>
						    </tbody>
						</table>
					</div>

				</div>

			</div>

		</form>
	</div>
</div>
